<h1>Movie details of {{movie.title}}</h1>
<h3>Director: {{movie.director}}</h3>
<h3>Starts: {{movie.stars}}</h3>
<img src="{{movie.image}}" alt="{{movie.title}}">
<h3>Description: {{movie.description}}</h3>
<h3>Showtimes: {{movie.showtimes}}</h3>